/* PLEASE NOTE: THESE TAILWIND DIRECTIVES SHOULD NEVER BE DELETED */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* DO NOT DELETE THESE TAILWIND DIRECTIVES, OTHERWISE THE STYLING WILL NOT RENDER AT ALL */

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
